#navbar {
  width: 11%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 200ms ease-in-out;
}

#navbar-image-container {
  position: relative;
  width: max-content;
}
#navbar-image-container > div {
  position: absolute;
  right: -6px;
  top: -6px;
  background-color: #dc3434;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10px;
  align-items: center;
}
#navbar > div:first-child {
  position: relative;
  width: max-content;
  padding-top: 5px;
}

#navbar > :last-child {
  color: #ffffff;
  opacity: 0.5;
}
#navbar-login-btn {
  margin-top: 10px;
  font-weight: 200;
  cursor: pointer;
}

#profilePic {
  border-radius: 13px;
  width: 72px;
  height: 72px;
}

#loginUsername {
  color: #ffffff;
  font-weight: 600;
  margin-top: 5px;
}

#userEmail {
  color: #ffffff;
  opacity: 0.6;
  mix-blend-mode: normal;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

#navroutes {
  color: #ffffff;
  font-weight: 450;
  font-size: clamp(1rem, 1.4vw, 2rem);
  cursor: default;
}

#navRoutesContainer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
}

#navRoutesContainer > h2:first-child {
  opacity: 1;
}

/* dynamic using media query  */

@media only screen and (max-width: 950px) {
  #tips-content {
    font-size: clamp(0.5rem, 0.8vw, 1rem);
  }
  #tips-container {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  #tips-container {
    width: 100%;
  }
  #tips-content {
    font-size: clamp(0.5rem, 1.1vw, 1rem);
  }
  #navbar {
    display: none;
  }
  #dashboard {
    width: 90%;
    margin-top: 40px;
  }
  #hidden-navbar {
    display: block;
    z-index: 32;
  }
  #navbar.active {
    transition: 200ms ease-in-out;
    position: absolute;
    width: 100%;
    height: 80%;
    display: block;
    z-index: 30;
    background-color: #262a41;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  #login-container {
    width: 80%;
  }
  #smoke-logo {
    display: none;
  }

  #smoke-text {
    margin: 10px 0;
  }
  #tips-container {
    width: 80%;
  }
  #login-form {
    margin-top: 20%;
  }
  #dashboard {
    flex-direction: column;
  }
  #dashboardLeft {
    width: 80%;
    padding: 30px 10%;
  }
  #dashboardRight {
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-top: 0;
  }
}
@media only screen and (max-width: 470px) {
  #dashboard-left-head {
    flex-direction: column;
    position: relative;
  }
  #dashboardImg {
    margin: 10px 0;
  }
  #dashboardImg > :first-child {
    left: 0;
  }
  #dashboardImg > img:nth-child(2) {
    left: 12%;
  }
  #dashboardImg > img:nth-child(3) {
    left: 24%;
  }
  #dashboardImg > span {
    left: 60%;
  }
}
