#navbar {
  width: 11%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#navbar-image-container {
  position: relative;
  width: max-content;
}
#navbar-image-container > div {
  position: absolute;
  right: -6px;
  top: -6px;
  background-color: #dc3434;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10px;
  align-items: center;
}
#navbar > div:first-child {
  position: relative;
  width: max-content;
  padding-top: 5px;
}

#navbar > :last-child {
  color: #ffffff;
  opacity: 0.5;
}
#navbar-login-btn {
  margin-top: 10px;
  font-weight: 200;
  cursor: pointer;
}

#profilePic {
  border-radius: 13px;
  width: 72px;
  height: 72px;
}

#loginUsername {
  color: #ffffff;
  font-weight: 600;
  margin-top: 5px;
}

#userEmail {
  color: #ffffff;
  opacity: 0.6;
  mix-blend-mode: normal;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

#navroutes {
  color: #ffffff;
  font-weight: 450;
  opacity: 0.5;
  cursor: default;
}

#navRoutesContainer {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
}

#navRoutesContainer > h2:first-child {
  opacity: 1;
}
